workflows/auto-publish-workflow.json
{
  "name": "Auto Publish Blog to LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Poll Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/thatsmeadarsh/thatsmeadarsh.github.io/commits/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "fetch-latest-commit",
      "name": "Fetch Latest Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "githubApi": {
          "id": "CONFIGURE_ME",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check for new posts in the latest Pages repo commit\nconst commit = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst currentSha = commit.sha;\nconst lastProcessedSha = staticData.lastProcessedSha;\n\n// Same commit as last poll — nothing new\nif (currentSha === lastProcessedSha) {\n  return [];\n}\n\n// Store the new SHA for next poll\nstaticData.lastProcessedSha = currentSha;\n\n// First run (no stored SHA) — just initialize, don't process\nif (!lastProcessedSha) {\n  return [];\n}\n\n// Scan commit files for newly added posts\nconst files = commit.files || [];\nconst newPostSlugs = new Set();\n\nfor (const file of files) {\n  if (file.status === 'added') {\n    const match = file.filename.match(/^posts\\/([^\\/]+)\\/index\\.html$/);\n    if (match) {\n      newPostSlugs.add(match[1]);\n    }\n  }\n}\n\nif (newPostSlugs.size === 0) {\n  return [];\n}\n\nconst siteBaseUrl = 'https://thatsmeadarsh.github.io';\n\nreturn Array.from(newPostSlugs).map(slug => ({\n  json: {\n    slug,\n    postUrl: `${siteBaseUrl}/posts/${slug}/`\n  }\n}));"
      },
      "id": "extract-post-slugs",
      "name": "Extract New Post Slugs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://raw.githubusercontent.com/thatsmeadarsh/whataboutadarsh/main/content/posts/{{ $json.slug }}.md",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-post-markdown",
      "name": "Fetch Post Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse TOML frontmatter from Hugo markdown fetched from GitHub\nconst response = $input.first().json;\nconst slugData = $('Extract New Post Slugs').item.json;\nconst slug = slugData.slug;\nconst postUrl = slugData.postUrl;\n\n// Get markdown content from HTTP response\nlet content = '';\nif (typeof response === 'string') {\n  content = response;\n} else if (response.data) {\n  content = response.data;\n} else if (response.body) {\n  content = response.body;\n} else {\n  content = JSON.stringify(response);\n}\n\n// Extract TOML frontmatter between +++ delimiters\nconst frontmatterMatch = content.match(/^\\+\\+\\+([\\s\\S]*?)\\+\\+\\+/);\n\nlet title = '';\nlet date = '';\nlet draft = false;\nlet tags = [];\nlet categories = [];\nlet bodyContent = '';\n\nif (frontmatterMatch) {\n  const fm = frontmatterMatch[1];\n\n  const titleMatch = fm.match(/title\\s*=\\s*['\"](.+?)['\"]/);\n  if (titleMatch) title = titleMatch[1];\n\n  const dateMatch = fm.match(/date\\s*=\\s*['\"](.+?)['\"]/);\n  if (dateMatch) date = dateMatch[1];\n\n  const draftMatch = fm.match(/draft\\s*=\\s*(true|false)/);\n  if (draftMatch) draft = draftMatch[1] === 'true';\n\n  const tagsMatch = fm.match(/tags\\s*=\\s*\\[([^\\]]+)\\]/);\n  if (tagsMatch) {\n    tags = tagsMatch[1].match(/['\"]([^'\"]+)['\"]/g)\n      ?.map(t => t.replace(/['\"]*/g, '')) || [];\n  }\n\n  const catMatch = fm.match(/categories\\s*=\\s*\\[([^\\]]+)\\]/);\n  if (catMatch) {\n    categories = catMatch[1].match(/['\"]([^'\"]+)['\"]/g)\n      ?.map(c => c.replace(/['\"]*/g, '')) || [];\n  }\n\n  bodyContent = content.replace(/^\\+\\+\\+[\\s\\S]*?\\+\\+\\+/, '').trim();\n}\n\nconst excerpt = bodyContent.split(/\\s+/).slice(0, 500).join(' ');\n\nreturn [{\n  json: {\n    title,\n    date,\n    draft,\n    tags,\n    categories,\n    slug,\n    postUrl,\n    excerpt\n  }\n}];"
      },
      "id": "parse-frontmatter",
      "name": "Parse Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft-check",
              "leftValue": "={{ $json.draft }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "draft-check",
      "name": "Is Not Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the HuggingFace request body safely with proper JSON escaping\nconst data = $input.first().json;\n\nconst tagsStr = data.tags.join(', ');\nconst excerptClean = data.excerpt.substring(0, 800).replace(/[\\n\\r]+/g, ' ').replace(/[\"]/g, \"'\");\n\nconst userPrompt = `Write a compelling LinkedIn post (150-200 words) announcing my new blog article.\n\nTitle: ${data.title}\nTags: ${tagsStr}\nArticle excerpt: ${excerptClean}\nURL: ${data.postUrl}\n\nRequirements:\n- Professional but engaging tone\n- Include 2-3 relevant hashtags derived from the tags\n- End with a call to action to read the full article\n- Include the article URL\n- Use line breaks for readability\n- Maximum 2-3 emojis\n- Do NOT include the word 'hashtag', just use the # symbol`;\n\nconst requestBody = {\n  model: 'Meta-Llama-3.1-8B-Instruct',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a professional LinkedIn content writer. Write engaging posts that drive clicks and engagement. Keep the tone professional yet approachable.'\n    },\n    {\n      role: 'user',\n      content: userPrompt\n    }\n  ],\n  max_tokens: 400,\n  temperature: 0.7\n};\n\nreturn [{\n  json: {\n    ...data,\n    hfRequestBody: requestBody\n  }\n}];"
      },
      "id": "prepare-hf-request",
      "name": "Prepare HF Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/sambanova/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.hfRequestBody) }}",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "hf-generate-post",
      "name": "AI Generate LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "HuggingFace API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI-generated LinkedIn post text from HF response\nconst hfResponse = $input.first().json;\nconst prevData = $('Prepare HF Request').first().json;\n\nlet linkedinText = '';\n\nif (hfResponse.choices && hfResponse.choices.length > 0) {\n  linkedinText = hfResponse.choices[0].message.content.trim();\n} else if (hfResponse[0] && hfResponse[0].generated_text) {\n  linkedinText = hfResponse[0].generated_text.trim();\n} else {\n  // Fallback: generate a simple post\n  const hashtags = prevData.tags.slice(0, 3).map(t => '#' + t.replace(/\\s+/g, '')).join(' ');\n  linkedinText = `New blog post: \"${prevData.title}\"\\n\\nCheck it out here: ${prevData.postUrl}\\n\\n${hashtags}`;\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    linkedinText\n  }\n}];"
      },
      "id": "format-linkedin",
      "name": "Format LinkedIn Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 200]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "approve"
        }
      },
      "id": "wait-for-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2300, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-linkedin-profile",
      "name": "Get LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2520, 200],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build LinkedIn publish request body\nconst profile = $input.first().json;\nconst postData = $('Format LinkedIn Post').first().json;\n\nconst personId = profile.sub;\n\nconst linkedinBody = {\n  author: `urn:li:person:${personId}`,\n  lifecycleState: 'PUBLISHED',\n  specificContent: {\n    'com.linkedin.ugc.ShareContent': {\n      shareCommentary: {\n        text: postData.linkedinText\n      },\n      shareMediaCategory: 'ARTICLE',\n      media: [\n        {\n          status: 'READY',\n          originalUrl: postData.postUrl,\n          title: {\n            text: postData.title\n          }\n        }\n      ]\n    }\n  },\n  visibility: {\n    'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC'\n  }\n};\n\nreturn [{\n  json: {\n    linkedinBody\n  }\n}];"
      },
      "id": "prepare-linkedin-post",
      "name": "Prepare LinkedIn Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2740, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.linkedinBody) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "post-to-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, 200],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-draft",
      "name": "Skip (Draft)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1640, 420]
    }
  ],
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Latest Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest Deployment": {
      "main": [
        [
          {
            "node": "Extract New Post Slugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract New Post Slugs": {
      "main": [
        [
          {
            "node": "Fetch Post Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Post Markdown": {
      "main": [
        [
          {
            "node": "Parse Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Frontmatter": {
      "main": [
        [
          {
            "node": "Is Not Draft?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Draft?": {
      "main": [
        [
          {
            "node": "Prepare HF Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (Draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HF Request": {
      "main": [
        [
          {
            "node": "AI Generate LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate LinkedIn Post": {
      "main": [
        [
          {
            "node": "Format LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LinkedIn Post": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Get LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Post": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "automation"
    },
    {
      "name": "blog"
    }
  ]
}
